.navbar {
  max-width: 1410px;
  padding: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

.navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 0;
}

.navbar__link {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  margin: 16px 0px;
  color: #a0a3a7;
}

.navbar__download-btn {
  background: linear-gradient(93.22deg, #e1e1e1 8.37%, #ffffff 99.95%);
  box-shadow: 0px 4px 50px rgba(37, 37, 37, 0.08),
    inset 1px 1px 1px rgba(135, 135, 135, 0.32);
  border-radius: 999px;
  justify-self: end;
  text-align: center;
  padding: 16px 24px;
  font-family: "Inter";
  font-size: 14px;
  color: #24282e;
  cursor: pointer;
}

$screen-sm-max: 576px;
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

.navbar {
  @include sm {
    padding: 16px;
    gap: 16px;
  }
}

.navbar__links {
  @include sm {
    gap: 8px;
  }
}

.navbar__link {
  @include sm {
    font-size: 10px;
  }
}

.navbar__download-btn {
  @include sm {
    padding: 8px 12px;
    font-size: 10px;
  }
}
