* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(124.53deg, #fc3f5f 0%, #7d61ff 100.32%) no-repeat;
  height: 100%;
  max-width: 100%;
}
