.slider {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 598px;
}

.slider__title {
  margin-top: 184px;
  font-family: "Inter";
  font-size: 72px;
  font-weight: 300;
  text-align: center;
  color: #f2f4f7;
}

.slider__description {
  margin-top: 32px;
  font-family: "Inter";
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: #f2f4f7;
}

.slider__btn {
  margin: 80px 180px 0px 180px;
  padding: 16px 32px;
  font-family: "Inter";
  font-weight: 300;
  font-size: 18px;
  line-height: 16px;
  background: linear-gradient(124.53deg, #fc3f5f 0%, #7d61ff 100.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(124.53deg, #fc3f5f 0%, #7d61ff 100.32%);
  cursor: pointer;
}

.slider__dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 64px 179px 229px 179px;
  width: 240px;
  gap: 32px;
}

.slider__dot {
  padding: 0;
  width: 16px;
  height: 16px;
  border: 4px solid;
  border-color: rgba(196, 196, 196, 0.16);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.slider__dot:active {
  border-color: white;
}

$screen-sm-max: 576px;
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

.container {
  @include sm {
    max-width: 300px;
    flex-direction: column;
    justify-content: flex-start;
    height: 600px;
  }
}

.slider__title {
  @include sm {
    font-size: 36px;
    margin-top: 100px;
  }
}

.slider__description {
  @include sm {
    font-size: 10px;
    margin-top: 30px;
  }
}

.slider__btn {
  @include sm {
    font-size: 12px;
    padding: 12px 20px;
    margin: 30px 90px 50px 90px;
  }
}

.slider__dots {
  @include sm {
    margin: 0 auto;
    max-width: 200px;
  }
}

.slider__dot {
  @include sm {
    width: 12px;
    height: 12px;
    border: 2px solid;
  }
}
